*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #D0A5C0;
    text-align: center;
}
h1{
    font-size: 7vh;
    color: #1e3231;
}
#container{
    height: 70vh;
    width: 70vh;
    margin-left: 33%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    background-color: #8e7c93;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #1e3231;
    background-color: #F6C0D0;
}

#reset-btn{
    margin-top: 45px;
    margin-bottom: 15px;
    height: 55px;
    width:  135px;
    color: #1e3231;
    border-radius: 1rem;
    font-size: 20px;
    background-color: #F6C0D0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    border: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#new-btn{
    height: 80px;
    width:  240px;
    color: #1e3231;
    border-radius: 1rem;
    font-size: 36px;
    background-color: #F6C0D0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    border: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#msg{
    margin-top: 200px;
    margin-bottom: 200px;
    color: #1e3231;
    font-size: 15vmin;
    text-align: center;
}
#new-btn{
    margin-bottom: 130px;
}
.hide{
    display: none;
}